<h1>Your Cart</h1>
<br /><br />
<br /><br />
<% if @cart.empty? %>
    <p>Your Cart is empty</p>
<% end %>

<% total = 0 %>

<table class="cart">
    <tr>
        <td class="legend"></td>
        <td class="legend">Photo</td>
        <td class="legend">Price</td>
        <td class="legend">Qty</td>
        <td class="legend">Total</td>
    </tr>
    
<% @cart.each do | id, quantity | %>
    <% photo = Photo.find_by_id(id) %>
    <tr>
        <td>
            <div class="image">
                <%= link_to (image_tag photo.image_url, :style => "height:40px"), photo %>
            </div>
        </td>
        <td class="title"><%= link_to photo.title, photo %></td>
        <td class="price"><%= number_to_currency(photo.price, :unit => "€") %></td>
        <td class="quantity"><%= quantity %><br /></td>
        <td class="price"><%= number_to_currency(quantity * photo.price, :unit => "€") %></td>
    </tr>
    <% total += quantity * photo.price %>
<% end %>

    <tr>
        <td colspan="4">
            <div class="total">Total:</div>
        </td>
        <td>
            <div class="price"><%= number_to_currency(total, :unit => "€") %></div>
        </td>
    </tr>
</table>

<p>
    <%= link_to 'Continue Shopping', :controller => :photos %>
</p>
<p><a href="/thanks">Place Order Now</a>
</p>